body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.frame {
    justify-content: center;
}

/*header*/


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-bottom: 1px solid rgba(0,0,0,0.7);

}

a {
    text-decoration: none;
    color: black;
}

.nav h3 {
    font-family: 'KIA';
    font-weight: 400;
    font-size: 2.4em;
    padding-left: 30px;
    margin: 18px 0;
}

#highlight {
    font-weight: 900;
}

.nav ul {
    margin: 18px 0;
    margin-right: 10px;
}

.nav li {
    list-style: none;
    display: inline;
    align-self: center;
    padding-right: 50px;
    font-size: 1.55em;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.5px;
}

/*sign-up*/

.signup {
    display: flex;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    }

.signup-box {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
    width: 900px;
    height: 700px;
    align-items: center;
    text-align: center;    
}

.first {
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: 150;
    width: 500px;
    padding-bottom: 35px;
    border-bottom: 0.5px solid #ccc;
    margin-bottom: 0;
    
}

.two-kind {
    display: flex;
    flex-direction: column;
    width: 500px;

}

.two-kind p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    width: 500px;
    height: 70px;
    letter-spacing: -0.3px;
    border-radius: 2%;
}

.second {
    background: rgb(20, 57, 145);
    color: white;
    margin-top: 35px;
    margin-bottom: 0;

}

.third {
    background: #fee500;
    color: black;
    margin-bottom: 50px;
}

.signup-box ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    width: 500px;
    height: 70px;
    box-sizing: border-box;
}

.li{
    font-size: 16px;
}

.login2{
    margin-right: 30px;
    font-size: 16px;
    padding: 7px 15px;
    color: rgb(20, 57, 145);
    border: 0.5px solid rgb(20, 57, 145);
}

