body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.frame {
    justify-content: center;
    align-items: center;
}


/*header*/


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-bottom: 1.5px solid black;

}

a {
    text-decoration: none;
    color: black;
}

.nav h3 {
    font-family: 'KIA';
    font-weight: 400;
    font-size: 2.4em;
    padding-left: 30px;
    margin: 18px 0;
}

#highlight {
    font-weight: 900;
}

.nav ul {
    margin: 18px 0;
    margin-right: 10px;
}

.nav li {
    list-style: none;
    display: inline;
    align-self: center;
    padding-right: 50px;
    font-size: 1.55em;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.5px;
}

/*sign-up*/

.signup {
    margin-top: 50px;
    justify-content: center;
    width: 700px;
    }

.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    width: 539px;
    border: 1px solid black;
    text-align: center;
}

.first {
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 150;
    width: 240px;
    padding-bottom: 25px;
    border-bottom: 0.5px solid #ccc;
    
}

.two-kind {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
}

.two-kind p{
    font-size: .5px;
    font-weight: 500;
    width: 115px;
    letter-spacing: -0.3px;
    padding: 7px 9px 7px 9px ;
    border-radius: 4%;
}

.second {
    margin-right: 15px;
    background: rgb(20, 57, 145);
    color: white;
}

.third {
    background: #fee500;
    color: black;
}